{% extends 'base.html' %}
{% block content %}


<div class="detail__img">
    <img src="{{character.img}}" alt="{{character.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{character.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{character.description}}</p>
        <br>
        <br>
    </div>
</div>
<h3>Spells</h3>
<br><br>

<span>
    <div class="dropdown">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Add a Spell</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {% for spell in spells.all %}
                <a href="{% url 'character_spell_assoc' character.pk spell.pk %}?assoc=add" class="dropdown-item">{{spell.name }}</a>

                {% empty %}
                <a></a>No spells Available</a>
                </article>

                {% endfor %}
            </div>
        </div>
    </div>
</span>

<div class="spell_container">
    {% for characterSpell in character.spells.all %}

    <div class="spell" style="width:50px;height:50px;">
        <!-- <span>{{forloop.counter}}</span> -->
        <!-- <span><b>{{spell.name}}</b></span> -->
        <h7>{{characterSpell.name}}</h7>


        <div class="spell_img">
            <img src="{{characterSpell.img}}" style="width:50px;height:50px;">
        </div>
        <a href="{% url 'character_spell_assoc' character.pk characterSpell.pk %}?assoc=remove"
            class="button is-danger is-outlined">
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </div>

    {% endfor %}
</div>

<div class="weapon_container">
    {% for characterWeapon in character.weapons.all %}

    <div class="weapon" style="width:50px;height:50px;">
        <!-- <span>{{forloop.counter}}</span> -->
        <!-- <span><b>{{spell.name}}</b></span> -->
        <h7>{{characterWeapon.name}}</h7>


        <div class="weapon_img">
            <img src="{{characterWeapon.img}}" style="width:50px;height:50px;">
        </div>
        <a href="{% url 'character_weapon_assoc' character.pk characterWeapon.pk %}?assoc=remove"
            class="button is-danger is-outlined">
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </div>

    {% endfor %}
</div>


{% endblock %}